#firstTitle{
  font-family: 'arial';
  color: rgb(125, 5, 130);
  text-align: right;
  margin-top:200px;
  padding-right:395px;
 
  }
#secondTitle{
  font-family: 'arial';
  color: rgb(201, 53, 206);
  text-align: right;
  padding-right:470px;
  
}
.first-container p{
  font-size: 15px;
  font-family: arial;
  padding-left:698px;
  color:rgb(115, 10, 121);
  font-weight: 200;
  text-align: left;
  line-height: 20pt;
}
.image{
  top: 0px;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  position:absolute;
  z-index: -1;
}
.image2{
  width: 45%;
  height:60%;
  padding-left: 40px;
  position:absolute;
  margin-top: -250px;
  z-index: 1;
}

#containerButton button{
  width: 12%;
  background-color: hsl(290, 71%, 83%);
  color: #7c057c;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 100;
  border: 0;
  margin-top: 100x;
  margin-left:690px;
}
